<extend name="index" />
<block name="text">
<p>当前位置：后台管理/个人中心</p>
<table id="person_info" class="table table-hover">
  <caption>个人信息</caption>
  <tr><td>姓名</td><td>{$username}</td></tr>
  <tr><td>拼音</td><td>{$pinyin}</td></tr>
  <tr><td>性别</td><td>{$sex}</td></tr>
  <tr><td>年龄</td><td>{$age}</td></tr>
  <tr><td>电话</td><td>{$phone}</td></tr>
  <tr><td>QQ</td><td>{$qq}</td></tr>
  <tr><td>Email</td><td>{$Email}</td></tr>
  <tr><td>Address</td><td>{$address}</td></tr>
</table>
<div id="person_update">
	<input id="person_button" class="btn btn-success" type="button" value="更新"></input>
</div>
 <div class=".container">
           <meta charset="utf-8">
	           <div class="modal fade" id="update_person" style="margin-top: 100px;" tabindex="-1"role="dialog"aria-labelledby="myModalLabel"aria-hidden="true">
	               <div class="modal-dialog">
	                     <div class="modal-content">
	                       <div class="modal-header">
	                          <button type="button"class="close"data-dismiss="modal"aria-hidden="true"> &times; </button>
	                          <h4 class="modal-title"id="myModalLabel">更新个人信息框</h4>
	                        </div>
	                        <div class="modal-body">
	                        <div id="personAdmin">
                            <form method="post"  enctype="multipart/form-data"  id="person_form">
                               <div class="input-group" >
							  <span class="input-group-addon" id="basic-addon1">姓名</span>
							  <input name="username" type="text" size="13" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value="{$username}">
							</div>
                           <div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">拼音</span>
							  <input name="pinyin"  type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="{$pinyin}">
							</div>
							 <div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">性别</span>
							  <select name="sex" class="form-control"  >
							  <option>男</option> 
							    <option>女</option>   
							    <option>请选择</option>  
							  
							  </select>

							</div>
							<div  class="input-group">
							  <span class="input-group-addon" id="basic-addon1">年龄</span>
							  <input name="age" id="age"  type="number" size="8" class="form-control"  placeholder="年龄" aria-describedby="basic-addon1" value="{$age}">
							</div>
							<div  class="input-group">
							  <span class="input-group-addon" id="basic-addon1">电话</span>
							  <input name="phone" id="inphone"  type="phone" size="8" class="form-control"  placeholder="电话号码" aria-describedby="basic-addon1" value="{$phone}">
							</div>
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1"> Q Q </span>
							  <input name="QQ" type="number" class="form-control" placeholder="QQ" aria-describedby="basic-addon1" value="{$qq}">
							</div>
							<div  class="input-group">
							  <span class="input-group-addon" id="basic-addon1">Email</span>
							  <input name="email" type="email" class="form-control" placeholder="email @xxx.com" aria-describedby="basic-addon1" value="{$Email}">
							</div>
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">Address</span>
							  <input name="address" type="text" class="form-control" placeholder="address" aria-describedby="basic-addon1" value="{$address}">
							</div>   
	                     </form>
	                     </div>
	                        </div>
	                        <div class="modal-footer" style="clear: both;">
	                          <button type="button"class="btn btn-default"data-dismiss="modal">关闭 </button>
	                         <button id="update_button" type="button"class="btn btn-primary"> 提交</button>
	                        </div>
	                     </div>
	               </div>
	            </div>
	     </div>
</block>
<block name="script">
	<script type="text/javascript" src="//{:ADMIN_JS_URL}person.js"></script>
</block>
